/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap"); */

::selection {
  background-color: rgba(125, 125, 125, 0.2);
  color: white;
}

.main-container {
  background-image: url(https://watermark.lovepik.com/photo/50033/1047.jpg_wh1200.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

* {
  margin: 0px;
  font-family: "Share Tech", sans-serif;
}

.header {
  width: 100%;
  height: 40px;
  padding: 10px;
  color: white;
  font-size: 30px;
  background-color: #00000080;
  position: fixed;
  transition-duration: 0.3s;
}

header:hover {
  color: #eee;
  background-color: #000000aa;
}

form .head {
  text-align: center;
}

.one,
.two {
  padding: 30px;
  border: transparent 1px solid;
  border-radius: 10px;
  width: 50%;
  display: block;
  animation-name: glass;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: auto;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

form.one {
  left: 20%;
  right: 20%;
  top: 20vh;
}

form.two {
  left: 20%;
  right: 20%;
  top: 32vh;
}

@keyframes glass {
  0% {
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: transparent;
    backdrop-filter: blur(15px);
  }
}

p.head {
  font-size: 30px;
  color: white;
}

p.caption {
  color: white;
  font-size: 20px;
}

.btn {
  left: auto;
  bottom: auto;
  padding: 20px;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  outline: none;
  border: solid transparent;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
}
.btn-conatiner {
  display: flex;
  justify-content: space-between;
}
.label {
  color: white;
  font-size: 20px;
}
.show-pwd-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  margin-left: -40px;
  margin-top: 10px;
  color: white;
}

.input-field {
  padding-top: 8px;
  width: 90%;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #cccccc36;
  outline: none;
  border-radius: 10px;
  border: 1px transparent solid;
  color: white;
  transition-duration: 0.3s;
  margin: 5px 0px;
}

.input-field:focus {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .show-pwd-container {
    width: 60%;
  }
}

::placeholder {
  color: #eeeeee60;
}

input[type="submit"] {
  font-size: 15px;
  background-color: #cccccc36;
  outline: none;
  border-radius: 10px;
  border: 1px transparent solid;
  color: white;
  cursor: pointer;
  padding: 0px 50px;
  transition-duration: 0.3s;
}

input[type="button"]:hover {
  transform: rotate(3deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  font-size: 17px;
}
