.login-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}
<<<<<<< HEAD

input.login-btn {
  padding: 10px 40px;
}

@media screen and (max-width:650px) {
  
}
=======
input.login-btn {
  padding: 10px 40px;
}
>>>>>>> c985f5c130f52451e2c67edc1426577951b2b24b
