.service-section {
  /* height: 900px; */
  text-align: center;
  background: #000;
}
.service-container {
  max-width: 1900px;
  margin: auto;
}
.service-main-text-container {
  margin: auto;
  text-align: center !important;
  max-width: 850px;
  padding: 0px 8%;
  padding-top: 30px;
}
.service-title {
  font-size: 60px;
  color: white;
  padding: 20px 0px;
}
.service-text {
  color: rgba(198, 201, 216, 0.75);
  padding: 10px;
  font-size: 20px;
}

.service-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 150px;
}
.service-item {
  padding: 60px 20px;
  width: 380px;
  height: 350px;
  margin: 15px;
  border-radius: 8px;
  background: #191919;
  box-sizing: border-box;
  text-align: start;
  /* transition: all background-color 1s; */
}
/* .service-icon-size {
  font-size: 40px;
} */
.service-item > i {
  color: #f9004d;
}
.service-item > h1 {
  padding: 25px 0px;
  color: #fff;
}
.service-item > p {
  color: rgba(198, 201, 216, 0.75);
  font-size: 18px;
}
.service-item:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
  background-image: linear-gradient(to right, red, #f9004d);
}
.service-item:hover > i {
  color: #fff;
}
@media screen and (max-width: 1600px) {
  .service-section {
    padding: 40px 30px;
  }
  .service-item {
    width: 360px;
    height: 330px;
    /* padding: 60px 20px; */
    /* width: 380px;`                                             `
    height: 350px; */
    margin: 15px 13px;
  }
}
@media screen and (max-width: 1220px) {
  .service-item {
    width: 285px;
    height: 313px;
  }

  .service-item > i {
    font-size: 5px;
  }
  .service-item > h1 {
    font-size: 24px;
    padding: 15px 0px;
  }
  .service-item > p {
    font-size: 18px;
  }
}
@media screen and (max-width: 993px) {
  .service-item {
    width: 325px;
    height: 260px;
  }
  .service-title {
    font-size: 22px;
  }
  .service-text {
    font-size: 18px;
  }
  .service-item > h1 {
    font-size: 22px;
    padding: 15px 0px;
  }
}
@media screen and (max-width: 767px) {
  .service-item {
    width: 230px;
    height: 295px;
  }
  .service-item > h1 {
    font-size: 20px;
    padding: 10px 0px;
  }
  .service-title {
    font-size: 20px;
  }
}
/* 575px */
@media screen and (max-width: 575px) {
  .service-item {
    width: 100%;
    /* height: 240px; */
    height: auto;
  }
  .service-item > h1 {
    font-size: 20px;
    padding: 10px 0px;
  }
  .service-title {
    font-size: 20px;
  }
}
